<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" 
   integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1657/1657088.png">
    
    


    <title>Editar</title>
</head>
<body>
    
    
        <%- include('./partials/header.ejs') %>
    
        
    
    <section id="cadastro">
       
        
            
            <h2>Editando o filme <%= filmeAtual.nome %>! </h2>
    
        <form method="POST" action="/editar/<%= filmeAtual.id %> ">
               
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required value="<%= filmeAtual.nome %> "> 
                
            
            <label for="diretor">Diretor:</label>
            <input type="text" id="diretor" name="diretor"required value="<%= filmeAtual.diretor %> ">
    
                
            <label for="img">Capa do filme Link:(Endereço de imagem)</label>
            <input type="text" id="img" name="img"required value="<%= filmeAtual.img %> ">
                
    
            <label for="duracao">Duração:(Em minutos) </label>
            <input type="text" id="duracao" name="duracao"required value="<%= filmeAtual.duracao %> ">
                
                
                
            <label for="ano">Ano de Lançamento:</label>
            <input type="text" id="ano" name="ano"required value="<%= filmeAtual.ano %> ">
                

                
            <label for="iframe">Iframe:</label>
            <input type="text" id="iframe" name="iframe"required value="<%= filmeAtual.iframe %> ">
            


            <label for="sinopse">Sinopse:</label>
            <input type="text" id="sinopse" name="sinopse"required value="<%= filmeAtual.sinopse %> ">


            <label for="genero">Gênero:</label>
            <input type="text" id="genero" name="genero"required value="<%= filmeAtual.genero %> ">
            

            <label for="assista">Plataforma disponível: (Exemplo: Netflix) </label>
            <input type="text" id="assista" name="assista"required value="<%= filmeAtual.assista %> ">


            <label for="nota">Nota: (Nota do site IMDB)</label>
            <input type="text" id="nota" name="nota"required value="<%= filmeAtual.nota %> ">

            <button id="btnCadastrar" type="submit">Editar </button>


        
            
             
        </div>
     </div>

        </form>    
    

       
    </section>

    <footer>

        <%- include('./partials/footer.ejs') %>
        
        </footer>
        <script src="script.js"></script>
</body>
</html>