<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G.O.A.T CINE</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/1657/1657088.png">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>


</head>


<body>
    <%- include('./partials/header.ejs') %>
  

    
    
            <h3> Ultimos adicionados </h3>
            
              
                <section id="card_posters">
                      
                     <% listFilmes.forEach(element => { %>
                         <article class="cards">
                         <a class="coverA" href="/detalhes/<%= element.id %> ">
                             <div class="card_img">
                                 <img src="<%= element.img %> " alt="<%= element.nome %> ">
                             </div>
                             <div class="card_nome">
                                 <%= element.nome %>
                             </div>
                         </a>
                         <div class="btn_container">
                           <a href= "/deletar/<%= element.id %> "> <button class="delete"> <i class="fa-solid fa-trash"></i></button></a>
                            <a href= "/editar/<%= element.id %> "><button class="editar"> <i class="fa-solid fa-pencil"></i></button></a>
                             </div>
                     </article>    
                     <% }) %>
                 
                         
                </section>
            
         

  
 


<script src="/script.js"></script>

 <%- include('./partials/footer.ejs') %>
</body>
</html>
